// FONTS ARDOISE + MENCKEN

@font-face {
    font-family: 'ArdoiseStd-Black';
    src: url('../assets/fonts/ArdoiseStd-Black.eot') format('embedded-opentype'),
         url('../assets/fonts/ArdoiseStd-Black.woff') format('woff'),
         url('../assets/fonts/ArdoiseStd-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArdoiseStd-Bold';
    src: url('../assets/fonts/ArdoiseStd-Bold.eot') format('embedded-opentype'),
         url('../assets/fonts/ArdoiseStd-Bold.woff') format('woff'),
         url('../assets/fonts/ArdoiseStd-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArdoiseStd-Light';
    src: url('../assets/fonts/ArdoiseStd-Light.eot') format('embedded-opentype'),
         url('../assets/fonts/ArdoiseStd-Light.woff') format('woff'),
         url('../assets/fonts/ArdoiseStd-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArdoiseStd-LightItalic';
    src: url('../assets/fonts/ArdoiseStd-LightItalic.eot') format('embedded-opentype'),
         url('../assets/fonts/ArdoiseStd-LightItalic.woff') format('woff'),
         url('../assets/fonts/ArdoiseStd-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArdoiseStd-Regular';
    src: url('../assets/fonts/ArdoiseStd-Regular.eot') format('embedded-opentype'),
         url('../assets/fonts/ArdoiseStd-Regular.woff') format('woff'),
         url('../assets/fonts/ArdoiseStd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenckenOTHead-Bold';
    src: url('../assets/fonts/MenckenOTHead-Bold.eot') format('embedded-opentype'),
         url('../assets/fonts/MenckenOTHead-Bold.woff') format('woff'),
         url('../assets/fonts/MenckenOTHead-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenckenOTHead-Regular';
    src: url('../assets/fonts/MenckenOTHead-Regular.eot') format('embedded-opentype'),
         url('../assets/fonts/MenckenOTHead-Regular.woff') format('woff'),
         url('../assets/fonts/MenckenOTHead-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenckenOTHead-Italic';
    src: url('../assets/fonts/MenckenOTHead-Regular.eot') format('embedded-opentype'),
         url('../assets/fonts/MenckenOTHead-Regular.woff') format('woff'),
         url('../assets/fonts/MenckenOTHead-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

